/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Engagement&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 16px;
  height: 8000px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF2EB), to(#C0C0C0));
  background: linear-gradient(180deg, #FFF2EB 0%, #C0C0C0 100%);
  background-repeat: no-repeat;
}

a {
  color: #08372F;
}

.section {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 20px;
  max-width: 1500px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 920px;
  padding-top: 30px;
  padding-bottom: 75px;
  margin-left: auto;
  background-image: url("../../img/header/figure.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-left: 100px;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 57px;
     -moz-column-gap: 57px;
          column-gap: 57px;
}

.header__title {
  font-family: "Explora", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__title--h1 {
  color: #08372F;
  font-size: 200px;
}
.header__title--h2 {
  color: #994C16;
  margin-left: 231px;
  font-size: 130px;
}

.header__footer-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  padding-bottom: 35px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 30px;
}

.nav__list a {
  display: block;
  color: #08372F;
  width: 120px;
  text-align: center;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav__list a:hover {
  font-size: 17px;
  color: #ffffff;
  background: #08372F;
  border-radius: 100px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F5F5;
  -webkit-box-shadow: 0px 4px 48px rgba(153, 76, 22, 0.29);
          box-shadow: 0px 4px 48px rgba(153, 76, 22, 0.29);
  border-radius: 20px;
  width: 1000px;
  padding: 15px 0 15px 35px;
}

.form__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  width: 250px;
  padding-left: 20px;
  background-position: 20px 0;
}

.form__input--date {
  background-image: url("../../img/header/date.svg");
}

.form__input--guests {
  border-right: none;
  background-image: url("../../img/header/account.svg");
}

.form__label {
  font-size: 14px;
  font-weight: 300;
  padding-left: 40px;
  color: rgb(54, 54, 54);
  border-right: 2px solid #F3D2C0;
}
.form__label-guest {
  border-right: none;
}

.form__input {
  font-family: "Engagement", serif;
  font-weight: 400;
  font-size: 50px;
  color: #994C16;
  border-right: 2px solid #F3D2C0;
}
.form__input::-webkit-input-placeholder {
  color: #994C16;
}
.form__input::-moz-placeholder {
  color: #994C16;
}
.form__input:-ms-input-placeholder {
  color: #994C16;
}
.form__input::-ms-input-placeholder {
  color: #994C16;
}
.form__input::placeholder {
  color: #994C16;
}

.form__select {
  font-size: 40px;
}

.section--grid {
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 150px auto;
  -webkit-column-gap: 150px;
     -moz-column-gap: 150px;
          column-gap: 150px;
}

.section__two-column {
  display: grid;
  grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
}

.column--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.column--flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about_img {
  border-radius: 20px;
  margin-bottom: 28px;
  height: 100%;
}

.flex_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  padding: 10px;
  text-align: center;
}
.card--text-accent {
  color: #497A72;
  font-weight: 800;
  font-size: 60px;
  line-height: 90px;
}
.card--small-text {
  color: #545454;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.card--circle-img {
  border-radius: 50%;
  width: 215px;
  margin-bottom: 15px;
}
.card--title-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 25px;
}
.card--regular-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.card--about {
  border-radius: 15px;
  width: 180px;
}
.card--about:hover {
  background-color: #DEDEDE;
  -webkit-box-shadow: 0px 4px 20px rgba(8, 55, 47, 0.37);
          box-shadow: 0px 4px 20px rgba(8, 55, 47, 0.37);
}

.section--how-to-work {
  background-image: url("../../img/main/work.jpg");
  border-radius: 30px;
}

.flex_cards--work {
  padding: 40px;
}

.card--work {
  background: rgba(217, 217, 217, 0.3);
  -webkit-backdrop-filter: blur(11.5px);
          backdrop-filter: blur(11.5px);
  border-radius: 20px;
  width: 400px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card--work:hover {
  background: rgba(8, 55, 47, 0.29);
  -webkit-backdrop-filter: blur(11.5px);
          backdrop-filter: blur(11.5px);
  border-radius: 20px;
}

.columm_between {
  width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-row {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #CBC9C8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}
.card-row--img {
  border-radius: 20px;
}
.card-row:hover {
  border-right: 4px solid #08372F;
}

.card-row__info {
  padding-left: 20px;
  color: #08372F;
}
.card-row__info--title {
  font-weight: 600;
  font-size: 29px;
  line-height: 44px;
}
.card-row__info--text {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
}
.card-row__info--orange {
  color: #994C16;
}

.card-big-room {
  text-align: right;
}

.card-big-room--img {
  height: 100%;
  border-radius: 20px;
  margin-bottom: 28px;
}

.button {
  text-align: center;
  border-radius: 20px;
  background-color: #08372F;
  color: #ffffff;
  height: 65px;
  font-size: 23px;
}
.button:hover {
  background-color: #994C16;
}

.button--booking {
  width: 157px;
  margin-left: auto;
  margin-right: 34px;
}

.button--learn {
  width: 240px;
  margin-top: auto;
}

.button--view {
  height: 50px;
  width: 160px;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 20px;
}

.section__header--left {
  min-width: 350px;
}

.title {
  position: relative;
  color: #08372F;
}
.title--3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  padding: 30px 0 0 20px;
  min-width: 350px;
}
.title--4 {
  font-weight: 100;
  font-size: 60px;
  line-height: 70px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title--4-white {
  color: #ffffff;
}

.header-line {
  position: absolute;
  margin-left: 120px;
  width: 180px;
  height: 2px;
  background-color: #08372F;
}

.light_text {
  color: #565656;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 20px;
}