/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Engagement&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF2EB), to(#C0C0C0));
  background: linear-gradient(180deg, #FFF2EB 0%, #C0C0C0 100%);
  background-repeat: no-repeat;
}

a {
  color: #08372F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1342px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 917px;
  padding-top: 29px;
  padding-bottom: 74px;
  margin-left: auto;
  background-image: url("../../img/header/figure.png");
  background-repeat: no-repeat;
  background-position: right;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 57px;
     -moz-column-gap: 57px;
          column-gap: 57px;
  margin-left: 88px;
}

.header__title {
  margin-left: 100px;
  font-family: "Explora", sans-serif;
}
.header__title--h1 {
  color: #08372F;
  font-size: 200px;
}
.header__title--h2 {
  color: #994C16;
  margin-left: 231px;
  font-size: 130px;
}

.header__footer {
  margin-left: 100px;
}

.header__footer-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 30px;
}

.nav__list a {
  display: block;
  color: #08372F;
  width: 120px;
  text-align: center;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav__list a:hover {
  font-size: 17px;
  color: #ffffff;
  background: #08372F;
  border-radius: 100px;
}