/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Engagement&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF2EB), to(#C0C0C0));
  background: linear-gradient(180deg, #FFF2EB 0%, #C0C0C0 100%);
  background-repeat: no-repeat;
}

a {
  color: #08372F;
}

.section {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px;
  max-width: 1500px;
}

.header {
  margin-left: auto;
  background-image: url("../img/header/figure.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 40px;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 920px;
  padding-top: 30px;
  padding-bottom: 75px;
  padding-left: 100px;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 57px;
     -moz-column-gap: 57px;
          column-gap: 57px;
}

.header__title {
  font-family: "Explora", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__title--h1 {
  color: #08372F;
  font-size: 200px;
}
.header__title--h2 {
  color: #994C16;
  margin-left: 231px;
  font-size: 130px;
}

.header__footer-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  padding-bottom: 35px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 30px;
}

.nav__list a {
  display: block;
  color: #08372F;
  width: 120px;
  text-align: center;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav__list a:hover {
  font-size: 17px;
  color: #ffffff;
  background: #08372F;
  border-radius: 100px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F5F5;
  -webkit-box-shadow: 0px 4px 48px rgba(153, 76, 22, 0.29);
          box-shadow: 0px 4px 48px rgba(153, 76, 22, 0.29);
  border-radius: 20px;
  width: 1000px;
  padding: 15px 0 15px 35px;
}

.form__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  width: 250px;
  padding-left: 20px;
  background-position: 20px 0;
}

.form__input--date {
  background-image: url("../img/header/date.svg");
}

.form__input--guests {
  border-right: none;
  background-image: url("../img/header/account.svg");
}

.form__label {
  font-size: 14px;
  font-weight: 300;
  padding-left: 40px;
  color: rgb(54, 54, 54);
  border-right: 2px solid #F3D2C0;
}
.form__label-guest {
  border-right: none;
}

.form__input {
  font-family: "Engagement", serif;
  font-weight: 400;
  font-size: 50px;
  color: #994C16;
  border-right: 2px solid #F3D2C0;
}
.form__input::-webkit-input-placeholder {
  color: #994C16;
}
.form__input::-moz-placeholder {
  color: #994C16;
}
.form__input:-ms-input-placeholder {
  color: #994C16;
}
.form__input::-ms-input-placeholder {
  color: #994C16;
}
.form__input::placeholder {
  color: #994C16;
}

.form__select {
  font-size: 40px;
  color: #994C16;
}

.grid-two-text {
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 150px;
  -webkit-column-gap: 150px;
     -moz-column-gap: 150px;
          column-gap: 150px;
  padding-bottom: 10px;
}

.grid-two-main, .grid-two-blocks {
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: auto;
  -webkit-column-gap: 150px;
     -moz-column-gap: 150px;
          column-gap: 150px;
}

.grid-cards {
  height: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.card {
  padding: 20px;
  text-align: center;
}
.card--circle-img {
  border-radius: 50%;
  width: 215px;
  margin-bottom: 15px;
}

.card--about {
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  width: 100%;
}
.card--about:hover {
  background-color: #DEDEDE;
  -webkit-box-shadow: 0px 4px 20px rgba(8, 55, 47, 0.37);
          box-shadow: 0px 4px 20px rgba(8, 55, 47, 0.37);
}

.card--work {
  background: rgba(217, 217, 217, 0.3);
  -webkit-backdrop-filter: blur(11.5px);
          backdrop-filter: blur(11.5px);
  border-radius: 20px;
  width: 400px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card--work:hover {
  background: rgba(8, 55, 47, 0.29);
  -webkit-backdrop-filter: blur(11.5px);
          backdrop-filter: blur(11.5px);
  border-radius: 20px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex-row--between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-column--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.flex-column--end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.flex-column--start_padding {
  padding-top: 20%;
}
.flex-column--end_padding {
  padding-bottom: 20%;
}

.flex-room {
  height: 600px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-room--between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.flex-gap {
  gap: 30px;
}

.show {
  z-index: 50;
}

.button {
  text-align: center;
  border-radius: 20px;
  background-color: #08372F;
  color: #ffffff;
  height: 65px;
  font-size: 23px;
}
.button:hover {
  background-color: #994C16;
}

.button--booking {
  width: 157px;
  margin-left: auto;
  margin-right: 34px;
}

.button--learn {
  width: 240px;
  margin-top: auto;
}

.button--view {
  height: 50px;
  width: 160px;
}

.title {
  position: relative;
  color: #08372F;
}
.title--3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  min-width: 350px;
}
.title--4 {
  font-weight: 100;
  font-size: 60px;
  line-height: 70px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title--white {
  color: #ffffff;
}
.title--padding-none {
  padding: 0;
}

.card--text-accent {
  color: #497A72;
  font-weight: 800;
  font-size: 60px;
  line-height: 90px;
}
.card--small-text {
  color: #545454;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.card--title-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
}
.card--regular-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-top: auto;
}

.title-line {
  position: absolute;
  margin-left: 120px;
  width: 180px;
  height: 2px;
  background-color: #08372F;
}

.light_text {
  color: #565656;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 20px;
}

.text-title-dark {
  font-size: 40px;
  line-height: 60px;
  color: #08372F;
}

.text-title-light {
  font-size: 40px;
  line-height: 60px;
  color: rgba(8, 55, 47, 0.37);
}

.section__two-column {
  display: grid;
  grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
}

.column-rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.about_img {
  border-radius: 20px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.how-to-work {
  background-image: url("../img/main/work.jpg");
  border-radius: 30px;
  padding: 20px;
}

.flex-cards--work {
  padding: 40px;
}

.columm_between {
  width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-rooms {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #CBC9C8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}
.card-rooms--img {
  border-radius: 20px;
}

.card-rooms__info {
  padding-left: 20px;
  color: #08372F;
}
.card-rooms__info--title {
  font-weight: 600;
  font-size: 29px;
  line-height: 44px;
}
.card-rooms__info--text {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
}
.card-rooms__info--orange {
  color: #994C16;
}

.card-big-room {
  text-align: right;
}

.card-big-room--img {
  width: 100%;
  height: 600px;
  border-radius: 20px;
  margin-bottom: 28px;
}

.border-active {
  border-right: 4px solid #08372F;
}

.height-600 {
  height: 600px;
  width: 600px;
}

.card--main {
  height: 250px;
  padding: 30px;
  padding-bottom: 0;
  background-color: #D9D9D9;
  border-radius: 20px 20px 0 0;
}

.card-footer {
  padding: 10px;
  background-color: #CBC9C8;
  border-radius: 0 0 20px 20px;
}
.card-footer--title {
  text-align: right;
}
.card-footer--name {
  font-size: 25px;
  font-weight: 500;
  line-height: 38px;
  color: #08372F;
}
.card-footer--profession {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #994C16;
}
.card-footer--img {
  border-radius: 0px 19px;
}

.stars-bottom {
  display: none;
}

.video {
  position: relative;
}

.video__link {
  width: 100%;
  height: 690px;
}

.video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  z-index: 1;
}
.video__icon:hover {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

.video__img {
  border-radius: 30px;
}

.footer {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px;
  max-width: 1400px;
}

.footer-bg {
  background-color: #08372F;
  border-radius: 30px;
  max-width: 90%;
  height: 800px;
}

.footer__info {
  position: absolute;
  right: 20px;
  top: 0;
  border-radius: 0 30px 0 0;
  background-color: #959595;
  width: 670px;
  height: 730px;
  padding: 50px;
}

.footer-title {
  padding-bottom: 10px;
}

.footer-end {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.14em;
  text-align: center;
}

[class*=ymaps-2-1-79-inner-panes] {
  border-radius: 30px 0 0 0;
}

[class*=ymaps-2-1-79-map-bg] {
  border-radius: 30px 0 0 0;
}

[class*=copyrights-pane] {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.map:hover [class*=copyrights-pane] {
  opacity: 1;
}

.map {
  background-color: #565656;
  height: 730px;
  width: 650px;
  border-radius: 30px 0 0 0;
}

.balloon__address {
  font-family: "Poppins";
}

.balloon__contacts {
  font-family: "Poppins";
  color: #08372F;
  font-weight: 500;
}

.mobile-nav-btn {
  --time: 0.1s;
  --width: 30px;
  --height: 20px;
  --line-height: 4px;
  --color: #ffffff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  display: block;
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  border-radius: 20px;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  border-radius: 20px;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -2);
}

.nav-icon::after {
  top: calc(var(--line-height) * 2);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* Layout */
.mobile-nav-btn {
  z-index: 999;
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px;
  background-color: #08372F;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.mobile-nav--open {
  right: 0;
}

.mobile-nav a {
  color: #fff;
}

.mobile-nav a:hover, .mobile-nav a.active {
  color: #3BBD48;
}

.mobile-nav__list {
  display: grid;
  gap: 20px;
  text-transform: capitalize;
}

.mobile-nav-fade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 29, 34, 0.7);
  z-index: 98;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
}

.mobile-nav-fade--open {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 1500px) {
  .nav__list a {
    color: #ffffff;
    background: #08372F;
    border-radius: 100px;
  }
  .nav__list a:hover {
    background: #08372F;
  }
  .header {
    background-image: url("../img/header/bg_photo.jpg");
    background-size: cover;
    border-radius: 0 0 20px 20px;
  }
  .header_container {
    height: 800px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__top-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  .header__footer-text,
  .header__title--h1,
  .header__title--h2 {
    color: #ffffff;
    margin: 0;
  }
  .header__title {
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 300px;
    background-color: rgba(8, 55, 47, 0.6705882353);
    width: 100%;
    border-radius: 20px;
  }
  .header__title--h1 {
    font-size: 110px;
    font-weight: 300;
  }
  .header__title--h2 {
    font-size: 60px;
    font-weight: 200;
  }
  .header__footer {
    margin: 0 auto;
  }
  .header__footer-text {
    padding-bottom: 10px;
  }
  .grid-two-text {
    grid-template-rows: 120px;
    grid-template-columns: 400px auto;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }
  .grid-two-main {
    grid-template-rows: auto;
    grid-template-columns: 400px auto;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }
  .title--3 {
    font-size: 30px;
  }
  .title--4 {
    line-height: 50px;
    font-size: 50px;
  }
  .title-line {
    margin-left: 100px;
    width: 150px;
  }
  .flex-room {
    width: 550px;
  }
  .grid-two-blocks {
    grid-template-columns: 550px auto;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .flex-room {
    gap: 30px;
    width: 450px;
  }
  .grid-two-blocks {
    grid-template-columns: 450px auto;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .card-rooms--img {
    width: 50%;
    height: 100%;
  }
  .card-rooms {
    height: 100%;
  }
  .footer__info {
    width: 600px;
  }
  .flex-column--start_padding {
    padding-top: 0;
  }
  .flex-column--end {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .card-rooms {
    height: 100%;
  }
  .grid-cards {
    height: 100%;
  }
  .flex-center {
    display: none;
  }
  .stars-bottom {
    display: block;
  }
  .flex-center {
    padding: 0;
  }
  .card-footer--name {
    font-size: 20px;
    line-height: 30px;
  }
  .card-footer--profession {
    font-size: 14px;
    line-height: 25px;
  }
}
@media (max-width: 1350px) {
  .grid-two-text {
    grid-template-rows: 130px;
    grid-template-columns: 400px auto;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .grid-two-main {
    grid-template-columns: 400px auto;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .card--work {
    width: 30%;
  }
  .card--title-text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  .light_text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .title--3 {
    font-size: 30px;
  }
  .title--4 {
    font-size: 40px;
  }
  .flex-room {
    gap: 30px;
    width: 100%;
  }
  .grid-two-blocks {
    grid-template-columns: 400px auto;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .card-rooms--img {
    width: 50%;
    height: 100%;
  }
  .card--review {
    font-size: 14px;
  }
  .footer__info {
    width: 400px;
    padding: 30px;
  }
}
@media (max-width: 1150px) {
  .grid-two-text {
    grid-template-rows: 130px;
    grid-template-columns: 300px auto;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .grid-cards {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
  }
  .grid-two-main {
    grid-template-columns: auto;
  }
  .button--learn {
    margin-left: auto;
    margin-bottom: 10px;
  }
  .flex-cards--work {
    padding: 20px;
  }
  .card--title-text {
    line-height: 20px;
  }
  .card--work {
    width: 32%;
    height: 400px;
  }
  .card--circle-img {
    width: 150px;
  }
  .card--regular-text {
    font-size: 14px;
  }
  .grid-two-blocks {
    grid-template-columns: auto;
    row-gap: 30px;
  }
  .flex-room {
    width: 100%;
    gap: 20px;
    height: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card-rooms--img {
    width: 50%;
    height: 100%;
  }
  .card-rooms__info {
    padding-left: 10px;
  }
  .card-rooms__info--text {
    font-size: 12px;
    line-height: 16px;
  }
  .card-rooms__info--title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .map {
    width: 500px;
  }
  .footer__info {
    width: 35%;
    padding: 20px;
  }
  .text-title-dark, .text-title-light {
    font-size: 30px;
  }
  .title-line {
    margin-left: 100px;
    width: 100px;
  }
  .form {
    width: 100%;
    padding: 15px 0 15px 30px;
  }
  .form__input-wrapper {
    width: 170px;
  }
  .button--booking {
    margin-right: 30px;
  }
  .card--main {
    height: 200px;
  }
}
@media (max-width: 850px) {
  .header_container {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .mobile-nav-btn {
    display: block;
    margin-top: 40px;
  }
  .nav__list {
    display: none;
  }
  .nav-user {
    display: none;
  }
  .header__footer-text {
    padding: 5px;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 20px;
    color: #08372F;
    margin-bottom: 20px;
  }
  .header__title {
    height: 230px;
    margin-bottom: 50px;
  }
  .header__title--h1 {
    font-size: 80px;
  }
  .header__title--h2 {
    font-size: 40px;
  }
  .header__top-row {
    padding: 0;
  }
  .form {
    margin: 0 auto;
    width: 390px;
    padding: 30px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
  }
  .form__input-wrapper {
    width: 100%;
    padding-left: 20px;
  }
  .button--booking {
    margin-left: 20px;
    margin-right: auto;
  }
  .form__label {
    border-right: none;
  }
  .form__input {
    border-right: none;
  }
  .grid-two-text {
    grid-template-rows: 50px;
    grid-template-columns: 100%;
    margin-bottom: 10px;
  }
  .flex-room {
    height: 100%;
  }
  .border-active {
    border-right: none;
    border-bottom: 4px solid #08372F;
  }
  .button {
    height: 45px;
    font-size: 20px;
  }
  .button--learn {
    width: 170px;
  }
  .title .title--3 {
    font-size: 32px;
  }
  .title--4 {
    font-size: 28px;
    line-height: 30px;
  }
  .section {
    margin: 0;
  }
  .about_img {
    margin-bottom: 20px;
  }
  .card-rooms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .card-rooms--img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .card-rooms__info--title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .card-rooms__info--text {
    font-size: 10px;
  }
  .card-rooms__info--orange {
    font-size: 12px;
  }
  .light_text {
    font-size: 16px;
  }
  .flex-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card--text-accent {
    font-size: 50px;
  }
  .card--small-text {
    font-size: 14px;
  }
  .card--regular-text {
    text-align: left;
  }
  .card--work {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 200px;
  }
  .card--about {
    width: 50%;
  }
  .card--work-text {
    margin-left: 20px;
  }
  .card--circle-img {
    width: 100px;
  }
  .card--regular-text {
    text-align: left;
  }
  .title-line {
    display: none;
  }
  .flex-cards--work {
    row-gap: 10px;
    padding: 0;
  }
  .card-big-room--img {
    height: 400px;
  }
  .card--main {
    padding: 20px;
  }
  .footer__info {
    position: relative;
    width: 100%;
    border-radius: 20px;
    right: auto;
    height: 100%;
    padding: 30px;
  }
  .footer-bg {
    display: none;
  }
}
@media (max-width: 585px) {
  .flex-room {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card-rooms {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card-rooms--img {
    width: 50%;
  }
  .border-active {
    border-bottom: none;
    border-right: 4px solid #08372F;
  }
  .card-big-room--img {
    height: 300px;
  }
  .grid-cards {
    grid-template-columns: 100%;
    row-gap: 30px;
  }
  .flex-column--start_padding {
    padding-bottom: 0;
  }
  .flex-column--end_padding {
    padding-bottom: 0;
  }
  .header__title--h1 {
    font-size: 48px;
  }
  .header__title--h2 {
    font-size: 22px;
  }
  .header__footer-text {
    font-size: 14px;
    border-radius: 10px;
    padding: 0 5px;
    line-height: 26px;
  }
}
@media (max-width: 450px) {
  .footer__info {
    padding: 10px;
  }
  .grid-two-blocks {
    row-gap: 20px;
  }
  .grid-two-text {
    padding: 0;
  }
  .card {
    padding: 10px;
  }
  .card--title-text {
    font-size: 16px;
  }
  .card--regular-text {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
  .card--work-text {
    margin-left: 0;
  }
  .card--work {
    height: 150px;
  }
  .card--circle-img {
    display: none;
  }
  .card-rooms {
    height: 100px;
  }
  .card-rooms--img {
    margin-bottom: 0;
  }
  .card-big-room--img {
    height: 200px;
  }
  .form__input-wrapper {
    width: 200px;
    padding-left: 0;
    background-position: 0 0;
  }
  .form {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    width: 260px;
    padding: 20px;
  }
  .button--booking {
    margin: 0 auto;
  }
}