.section__two-column {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    column-gap: 200px;
}
.column-rooms {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.about_img {
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
}