.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 920px;
    padding-top: 30px;
    padding-bottom: 75px;
    margin-left: auto;
    background-image: url("../../../img/header/figure.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 100px;
}
.header__top-row {
    display: flex;
    flex-direction: row;
    column-gap: 57px;
}
.header__title {
    font-family: $font-accent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &--h1 {
        color: $green;
        font-size: 200px;
    }
    &--h2 {
        color: $orange;
        margin-left: 231px;
        font-size: 130px;
    }
}
.header__footer-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 35px;
}