.columm_between {
    width: 600px;
    justify-content: space-between;
}
.card-rooms {
    padding: 10px;
    display: flex;
    flex-direction: row;
    background: #CBC9C8;
    align-items: center;
    border-radius: 20px;
    &--img {
        border-radius: 20px;
    }
}
.card-rooms__info {
    padding-left: 20px;
    color: $green;
    &--title { 
        font-weight: 600;
        font-size: 29px;
        line-height: 44px;     
    }
    &--text { 
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
    }
    &--orange {
        color: $orange;
    }
}
.card-big-room {
    text-align: right;
}
.card-big-room--img {
    width: 100%;
    height: 600px;
    border-radius: 20px;
    margin-bottom: 28px;
}
.border-active {
    border-right: 4px solid $green;
}
.height-600 {
    height: 600px;
}
