.card--client {
    margin-top: margin-top + 20px;
}
.card--main {
    height: 250px;
    padding: 30px;
    padding-bottom: 0;
    background-color: $bg_client;
    border-radius: 20px 20px 0 0;
}
.card-footer {
    padding: 10px;
    background-color: $bg_client_dark;
    border-radius: 0 0 20px 20px;
    &--title {
        text-align: right;
    }
    &--name {
        font-size: 25px;
        font-weight: 500;
        line-height: 38px;
        color: $green;
    }
    &--profession {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: $orange;
    }
    &--img {
        border-radius: 0px 19px;
    }
}
.stars-bottom {
    display: none;
}