@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

body {
    font-family: $font-main;
    color: $black;
    font-size: 16px;
    background: linear-gradient(
        180deg, 
        #FFF2EB 0%, 
        #C0C0C0 100%);
    background-repeat: no-repeat;
}
a {
    color: $green;
}
.section {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 20px;
    max-width: 1500px;
}