@media (max-width: 1500px) {
    .nav__list a {
        color: $white;
        background: $green;
        border-radius: 100px;
        &:hover {
            background: $green;
        }
    }
    .header {
        background-image: url("../img/header/bg_photo.jpg");
        background-size: cover;
        border-radius: 0 0 20px 20px;
    }
    .header_container {
        height: 800px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .header__top-row {
        justify-content: space-between;
        padding: 0 20px;
    }
    .header__footer-text, 
    .header__title--h1, 
    .header__title--h2 {
        color: $white;
        margin: 0;
    }
    .header__title {
        font-family: $font-main;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 300px;   
        background-color: #08372fab;
        width: 100%;
        border-radius: 20px;
    }
    .header__title--h1 {
        font-size: 110px;
        font-weight: 300;
    }
    .header__title--h2 {
        font-size: 60px;
        font-weight: 200;
    }
    .header__footer {
        margin: 0 auto;
    }
    .header__footer-text {
        padding-bottom: 10px;
    }
    .grid-two-text {
        grid-template-rows: 120px;
        grid-template-columns: 400px auto;
        column-gap: 100px;
    }
    .grid-two-main {
        grid-template-rows: auto;
        grid-template-columns: 400px auto;
        column-gap: 100px;
    }
    .title {
        &--3 {
            font-size: 30px;
        }
        &--4 {
            line-height: 50px;
            font-size: 50px;
        }
    }
    .title-line {
        margin-left: 100px;
        width: 150px;
    }
    .flex-room {
        width: 550px;
    }
    .grid-two-blocks {
        grid-template-columns: 550px auto;
        column-gap: 20px;
    }
    .flex-room { 
        gap: 30px;
        width: 450px;
    }
    .grid-two-blocks {
        grid-template-columns: 450px auto;
        column-gap: 50px;
    }
    .card-rooms--img {
        width: 50%;
        height: 100%;
    }
    .card-rooms {
        height: 100%;
    }
    .footer__info {
        width: 600px;
    }
    .flex-column--start_padding {
        padding-top: 0;
    }
    .flex-column--end {
        justify-content: start;
    }
    .card-rooms {
        height: 100%;
    } 
    .grid-cards {
        height: 100%;
    }
    .flex-center {
        display: none;
    }
    .stars-bottom {
        display: block;
    }
    .flex-center {
        padding: 0;
    } 
    .card-footer {
        &--name {
            font-size: 20px;
            line-height: 30px;
        }
        &--profession {
            font-size: 14px;
            line-height: 25px;
        }
    }
}
@media (max-width: 1350px) { 
    .grid-two-text {
        grid-template-rows: 130px;
        grid-template-columns: 400px auto;
        column-gap: 50px;
    }
    .grid-two-main {
        grid-template-columns: 400px auto;
        column-gap: 50px;
    }
    .card--work {
        width: 30%;
    }
    .card--title-text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .light_text {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 10px;
    } 
    .title {
        &--3 {
            font-size: 30px;
        }
        &--4 {
            font-size: 40px;
        }
    }
    .flex-room { 
        gap: 30px;
        width: 100%;
    }
    .grid-two-blocks {
        grid-template-columns: 400px auto;
        column-gap: 50px;
    }
    .card-rooms--img {
        width: 50%;
        height: 100%;
    }
    .card--review {
        font-size: 14px;
    }
    .footer__info {
        width: 400px;
        padding: 30px;
    }
    
}
@media (max-width: 1150px) { 
    .grid-two-text {
        grid-template-rows: 130px;
        grid-template-columns: 300px auto;
        column-gap: 20px;
    }
    .grid-cards {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }
    .grid-two-main {
        grid-template-columns: auto;
    }
    .button--learn { 
        margin-left: auto;
        margin-bottom: 10px;
    }
    .flex-cards--work {
        padding: 20px;
    }
    .card--title-text {
        line-height: 20px;
    }
    .card--work {
        width: 32%;
        height: 400px;
    }
    .card--circle-img {
        width: 150px;
    }
    .card--regular-text {
        font-size: 14px;
    }
    .grid-two-blocks {
        grid-template-columns: auto;
        row-gap: 30px;
    }
    .flex-room {
        width: 100%;
        gap: 20px;
        height: 130px;
        display: flex;
        flex-direction: row;
    }
    .card-rooms--img {
        width: 50%;
        height: 100%;
    }
    .card-rooms__info {
        padding-left: 10px;
        &--text {
            font-size: 12px;
            line-height: 16px;
        }
        &--title {
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 10px;
        }
    }
    .map {
        width: 500px;
    }
    .footer__info {
        width: 35%;
        padding: 20px;
    }
    .text-title-dark, .text-title-light {
        font-size: 30px;
    }
    .title-line {
        margin-left: 100px;
        width: 100px;
    }
    .form {
        width: 100%;
        padding: 15px 0 15px 30px;
    }
    .form__input-wrapper {
        width: 170px;
    }
    .button--booking {
        margin-right: 30px;
    }
    .card--main {
        height: 200px;
    }
}
@media (max-width: 850px) { 
    .header_container {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .mobile-nav-btn {
		display: block;
        margin-top: 40px;
	}
    .nav__list {
		display: none;
	}
    .nav-user {
		display: none;
	}
    .header__footer-text {
        padding: 5px;
        border-radius: 20px;
        background-color: $white;
        font-size: 20px;
        color: $green;
        margin-bottom: 20px;
    }
    .header__title { 
        height: 230px;
        margin-bottom: 50px;
        &--h1 {
            font-size: 80px;
        }  
        &--h2 {
            font-size: 40px;
        }    
    }  
    .header__top-row {
        padding: 0;
    }
    .form {
        margin: 0 auto;
        width: 390px;
        padding: 30px;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
    }
    .form__input-wrapper {
        width: 100%;
        padding-left: 20px;
    }
    .button--booking {
        margin-left: 20px;
        margin-right: auto;
    }
    .form__label {
        border-right: none;
    }
    .form__input {
        border-right: none;
    }
    .grid-two-text {
        grid-template-rows: 50px;
        grid-template-columns: 100%;
        margin-bottom: 10px;
    }
    .flex-room {
        height: 100%;
    }
    .border-active {
        border-right: none;
        border-bottom: 4px solid $green;
    }
    .button {
        height: 45px;
        font-size: 20px;
        &--learn {
            width: 170px;
        }
    }
    .title {
        .title--3 {
            font-size: 32px;
        }
        &--4 {
            font-size: 28px;
            line-height: 30px;
        }
    }
    .section {
        margin: 0;
    }
    .about_img {
        margin-bottom: 20px;
    }
    .card-rooms {
        flex-direction: column;
        height: auto;
        &--img {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
        }
    }
    .card-rooms__info {
        &--title {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 5px;
        }
        &--text {
            font-size: 10px;
        }
        &--orange {
            font-size: 12px;
        }
    }
    .light_text {
        font-size: 16px;
    }
    .flex-row {
        flex-wrap: wrap;
    }
    .card {
        &--text-accent {
            font-size: 50px;
        }
        &--small-text {
            font-size: 14px;
        }
        &--regular-text {
            text-align: left;
        }
        &--work {
            flex-direction: row;
            width: 100%;
            height: 200px;
        }
        &--about {
            width: 50%;
        }
        &--work-text {
            margin-left: 20px;
        }
        &--circle-img {
            width: 100px;
        }
        &--regular-text {
            text-align: left;
        }
    }
    .title-line {
        display: none;
    } 
    .flex-cards--work {
        row-gap: 10px;
        padding: 0;
    }
    .card-big-room--img {
        height: 400px;
    }
    .card--main {
        padding: 20px;
    }
    .footer__info {
        position: relative;
        width: 100%;
        border-radius: 20px;
        right: auto;
        height: 100%;
        padding: 30px;
    }
    .footer-bg {
        display: none;
    }
}
@media (max-width: 585px) {
    .flex-room {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card-rooms {
        width: 100%;
        flex-direction: row;
        &--img {
            width: 50%;
        }
    }
    .border-active {
        border-bottom: none;
        border-right: 4px solid $green;
    }
    .card-big-room--img {
        height: 300px;
    }
    .grid-cards {
        grid-template-columns: 100%;
        row-gap: 30px;
    }
    .flex-column {
        &--start_padding {
            padding-bottom: 0;
        }
        &--end_padding {
            padding-bottom: 0;
        }
    }
    .header__title { 
        &--h1 {
            font-size: 48px;
        }
        &--h2 {
            font-size: 22px;
        }
    }
    .header__footer-text {
        font-size: 14px;
        border-radius: 10px;
        padding: 0 5px;
        line-height: 26px;
    } 
}
@media (max-width: 450px) {
    .footer__info {
        padding: 10px;
    }
    .grid-two-blocks {
        row-gap: 20px;
    }
    .grid-two-text {
        padding: 0;
    }
    .card {
        padding: 10px;
        &--title-text {
            font-size: 16px;
        }
        &--regular-text {
            text-align: center;
            font-size: 12px;
            line-height: 20px;
        }
        &--work-text {
            margin-left: 0;
        }
        &--work {
            height: 150px;
        }
        &--circle-img {
            display: none;
        }
    }
    .card-rooms {
        height: 100px;
        &--img {
            margin-bottom: 0;
        }
    }
    .card-big-room--img {
        height: 200px;
    }
    .form__input-wrapper {
        width: 200px;
        padding-left: 0;
        background-position: 0 0;
    }
    .form {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        width: 260px;
        padding: 20px;
    }
    .button--booking {
        margin: 0 auto;
    }
}