// Fonts
$font-main: 'Poppins', sans-serif;
$font-accent: 'Explora', sans-serif;
$font-secondary: 'Engagement', serif;

// Colors
$green: #08372F;
$orange: #994C16;
$gray: #565656;
$light_orange: #F5F5F5;
$light_green: #ffffff;
$white: #ffffff;
$black: #000000;