// Fonts
$font-main: 'Poppins', sans-serif;
$font-accent: 'Explora', sans-serif;
$font-secondary: 'Engagement', serif;

// Colors
$green: #08372F;
$pink: #994C16;
$light_green: #ffffff;
$white: #ffffff;
$black: #000000;